.proj-box-con {
  display: block;
  flex-direction: row;
  text-align: -webkit-center;
  padding: 86px 18px 18px 18px;
  min-height: 100vh;
}

.heading {
  text-align: center;
  font-size: 8vh;
}

.proj-box {
  justify-content: center;
}

.card {
  border: 0;
  width: 90%;
  border-radius: 1.3rem;
  box-shadow: 1px 4px 17px 5px rgba(0,0,0,0.22);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.03,1.03);
}

.card-img-top {
  width: 35%;
  align-self: center;
}

.card-img-top-web {
  width: 100%;
  padding: 2px;
  align-self: center;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.card-text {
  font-size: 16px;
}

@media (max-width: 768px) {
  .card-img-top {
    width: 100%;
    padding: 2px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
  }
  .heading {
    font-size: 5vh;
  }
}

.card-body {
  background-color: #2E8BC0;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  text-align: -webkit-auto;
}

.btn-primary {
  color: #fff;
  background-color: #145DA0;
  border-color: #145DA0;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0d3a63;
  border-color: #0d3a63;
}

.btn-primary:focus {
  color: #fff;
  background-color: #0d3a63;
  border-color: #0d3a63;
  box-shadow: 0 0 0 0.25rem rgba(21, 53, 101, 0.5);
}

.nav {
  justify-content: center;
}

.nav-tabs {
  border-bottom: 0;
}

@media (min-width: 850px) {
  .tab-content > .active {
    display: flex;
    align-content: center;
    min-height: 70vh;
    align-items: center;
    overflow-x: scroll;
  }
  
  .projectsContainer {
    padding: 0 14vw;
  }
}
@media (max-width: 1220px) and (min-width: 500px) {
  .projectsContainer {
    padding: 0 8vw;
  }
}

.fade.tab-pane.active.show::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.nav-tabs .nav-link {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}

#uncontrolled-tab-example-tab-mobile {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-color: #fff;
}
#uncontrolled-tab-example-tab-web {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-color: #fff;
}

.nav-link:hover, .nav-link:focus {
  color: #ffffff84;
}
