.skills-view {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

@media (max-width: 576px) {
  .col-4 {
    width: 90%;
  }
}

.skill-con {
  height: 100%;
}

.skill-info {
  background-color: #2E8BC0;
  border-radius: 1.25rem;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 17px 5px rgba(0,0,0,0.22);
}

.skill-title-text {

}

.skill-subtitle-text {

}

.skill-desc-text {
  font-size: 18px;
  font-weight: 100;
}