.skills-view {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .col-4 {
    width: 90%;
  }
}

.skill-con {
  height: 100%;
}

.skill-info {
  background-color: darkblue;
  text-align: center;
  padding: 20px;
}

.skill-title-text {

}

.skill-subtitle-text {

}

.skill-desc-text {
  font-size: 18px;
  font-weight: 100;
}